*{
	padding: 0;
	margin: 0;
}
.all{
	position: relative;
	left: 30%;
	width: 40%;
	height: 500px;
	/*border: 1px solid black;*/
}
.name_txt{
	position: absolute;
	top: 100px;
}
.name_input{
	position: absolute;
	top: 102px;
	left: 60px;
}
.id_txt{
	position: absolute;
	top: 140px;
}
.id_input{
	position: absolute;
	top: 142px;
	left: 92px;
}
.content_txt{
	position: absolute;
	top: 180px;
}
.content{
	position: absolute;
	top: 210px;
	width: 100%;
	height: 200px;
}
.sub_btn{
	position: absolute;
	top: 430px;
	right: 0px;
	width: 60px;
	height: 25px;
	border-radius: 6px;
	border: 1px solid #0081b8;
	background-color: #0081b8;
	color: #fff;
	cursor: pointer;
}