*{
	padding: 0;
	margin: 0;
}
.all{
	width: 100%;
	height: 100vh;
}
.top{
	width: 100%;
	height: 40px;
	/*border: 1px solid #ccc;*/
	background-color: #f2f2f2;
	line-height: 40px;
}
.topText{
	font-size: 13px;
	color: #585858;
	margin-left: 10px;
}
.center{
	position: relative;
}
.centerText{
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 16px;
	color: #0081b8;
}
.main{
	position: absolute;
	top: 70px;
	left: 15px;
	width: 97%;
	height: 800px;
	border: 1px solid #0081b8;
	background: #fff;
}
.main1{
	width: 100%;
	height: 24.8%;
	border: 1px solid #0081b8;
}
.item{
	width: 99.8%;
	height: 40px;
	border: 1px solid #DCEBF7;
	background: #EDF3F4;
}
.img_box{
	width: 99.8%;
	height: 154px;
	/*border: 1px solid black;*/
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}
.img_box::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
  }
.img_box::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
  }
.img_box::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
  }
.img_sonbox{
	display: inline-block;
	margin-top: 7px;
	margin-left: 10px;
	width: 200px;
	height: 135px;
	border: 1px solid #ccc;
}
.count{
	position: absolute;
	top: 890px;
	left: 45%;
}
.page{
	width: 30px;
	height: 15px;
	font-size: 13px;
	text-align: center;
	line-height: 15px;
}
.count_btn1, .count_btn2{
	width: 15px;
	height: 19px;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
	background: #f2f2f2;
	border: 1px solid #ccc;
}
.delete_btn{
	position: absolute;
	top: 40px;
	right: 30px;
	width: 60px;
	height: 25px;
	border-radius: 6px;
	border: 1px solid #0081b8;
	background-color: #0081b8;
	color: #fff;
	cursor: pointer;
}